.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--REGULAR-FONT);
  font-size: var(--FONT-SIZE-MEDIUM);
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.button:active {
  outline: none;
  opacity: 0.75;
}

.button:hover {
  cursor: pointer;
}
